
.em-toolbar {
    position: sticky;
    top: 0;          
    z-index: 1000; 
}

.custom-list-item mat-icon {
    vertical-align: middle;
    font-size: 20px;
}

.em-sidenav-container {
    flex: 1;
    width: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
}

.em-sidenav-content {
    display: flex;
    height: 100%;
    flex-direction: column;
}

/* side nav */
.em-sidenav {
  width: 240px;
  border: none;
  box-shadow: var(--mat-sys-level2); /* elevation */
  
}

.wrapper {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
}
