.app-toolbar {
  display: flex;
  background-color: #1976d2 !important;
  color: white !important;
  gap: 8px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  margin: 0 10px;
  display: flex;
  align-items: center;
  font-size: small;
}

.app-toolbar .mat-icon,
.app-toolbar span {
  margin-left: 12px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.sidenav-container {
  height: 100vh;
  margin-top: 0% !important;
}

.sidenav {
  width: 240px;
  background-color: #1976d2 !important;
  color: white !important;
  padding: 1rem;
}
/* Fix icon alignment inside sidenav list */
.sidenav .mat-mdc-list-item {
  display: flex;
  align-items: center; /* vertical centering */
  gap: 12px; /* spacing between icon and label */
}

.sidenav .mat-mdc-list-item mat-icon {
  font-size: 22px; /* make icons uniform size */
  line-height: 1;
  vertical-align: middle;
  color: inherit !important;
}



/* make nav-list inherit text color */
.sidenav .mat-mdc-list-item,
.sidenav .mat-mdc-list-item .mdc-list-item__primary-text {
  color: inherit !important;
}


.subtitle {
  font-size: 13px;
  opacity: 0.8;
  margin-bottom: 1rem;
}

.active {
  background: rgba(255, 255, 255, 0.15);
}

.content {
  padding: 2rem;
  background: #f3f4f6;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;
}

.full-width-table {
  width: 100%;
  margin-top: 1rem;
}


.export-btn {
  text-align: center;
  margin-top: 2rem;
}

th.mat-header-cell {
  background-color: #f9fafb;
  font-weight: bold;
}

/* Table */
.striped tr:nth-child(even) {
  background-color: #e8f5e9 !important;
}

.striped tr:nth-child(odd) {
  background-color: #ffffff !important;
}

.striped tr:hover td {
  background-color: #f5efef;
}

.striped  th {
  background-color: #1976d2 !important;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 12px 16px;
  text-align: left;
  border-bottom: 2px solid #1565c0;
}



.striped .full-width-table th,
.striped .full-width-table td {
  border-bottom: 1px solid #ddd;
}

.striped button {
  margin-right: 4px;
  min-width: 60px;
}

.no-expenses {
  text-align: center;
  color: #666;
  padding: 24px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.no-expenses mat-icon {
  vertical-align: middle;
}

/* expense add button */
.add-expense-fab {
  position: fixed;
  bottom: 8px;
  right: 24px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.spacer {
 flex: 1 1 auto;;
}

.add-expense-wrapper {
  display: flex;
  align-items: center;
  gap: 2px; /* space between button and label */
}

