/* form fields */
.form-field{
    width: 100%;

}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}


.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f7fa;
}

.signup-card {
    width: 400px;
    padding: 1rem 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.3);
     
}