<!-- <mat-toolbar color="primary" class="mat-elevation-z4">
  <span class="toolbar-title" routerLink="/">ExpenseTracker</span>
  <span class="spacer"></span>
  <nav class="nav-buttons">
    <a mat-button routerLink="/dashboard">Dashboard</a>
    <a mat-button routerLink="/expenses">Expenses</a>
    <a mat-button routerLink="/reports">Reports</a>
    <a mat-button routerLink="/settings">Settings</a>
  </nav>
</mat-toolbar>  -->



<!-- navbar.component.html -->
<mat-toolbar color="primary" class="app-header">
  <!-- Menu toggle button -->
  <button mat-icon-button (click) = onMenuToggle()>
    <mat-icon>menu</mat-icon>
  </button>
  <!-- App Title -->
  <!-- <span class="app-title">💰 Expenses Tracker</span> -->

  <!-- Spacer pushes nav buttons to the right -->
  
  <!-- Navigation Buttons -->
  <!-- <nav class="nav-buttons">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-button routerLink="/expenses" routerLinkActive="active">Expenses</a>
    <a mat-button routerLink="/home/reports" routerLinkActive="active">Reports</a>
    <a mat-button routerLink="/transactions" routerLinkActive="active">Transactions</a>
  </nav> -->
  <span class="spacer"></span>
   <!-- Auth Button -->
    <button mat-button [routerLink]="authLink()" (click)="onAuthClick()">{{ authLabel() }}</button>

</mat-toolbar>

<!-- navbar.component.html
<mat-toolbar color="primary" class="navbar">
  <span class="app-title">💰 Expense Manager</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/home">Dashboard</button>
  <button mat-button routerLink="/home/expenses">Expenses</button>
  <button mat-button routerLink="/home/report">Reports</button>
  <button mat-button routerLink="/home/profile">Profile</button>

  <span class="spacer"></span>

  <button mat-raised-button color="warn" >Logout</button>
</mat-toolbar> -->
