<h2 mat-dialog-title>
  {{ mode === 'edit' ? 'Edit Expense' : 'Add Expense' }}
</h2>

<mat-dialog-content class="dialog-content" [formGroup]="expenseForm">
  
  <!-- Expense Type with selector -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Type</mat-label>
    <mat-select [formControl]="typeCtrl" >
      @for (type of expenseTypeOptions(); track type) {
      <mat-option [value]="type">{{ type }}</mat-option>
      }
    </mat-select>
    @if ( typeCtrl.touched && typeCtrl.invalid ) {
    <mat-error>Expense type is required</mat-error>
    }
  </mat-form-field>
  

  <!-- Category Selector -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Category</mat-label>
    <mat-select matInput [formControl]="categoryCtrl">
      @for(cat of categoryOptions(); track cat){
        <mat-option [value]="cat">{{ cat }}</mat-option>
      }
    </mat-select>
    @if (categoryCtrl.touched && categoryCtrl.invalid) {
    <mat-error>Category is required</mat-error>
    }
  </mat-form-field>

  <!-- Date Picker -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Last Updated </mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [formControl]="dateCtrl"
      placeholder="Choose a date"
      (click)="picker.open()"
      readonly
    />
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>

    <!-- Error -->
    @if (dateCtrl.touched && dateCtrl.invalid) {
    <mat-error>Date is required</mat-error>
    }
  </mat-form-field>

  <!-- Amount -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Amount</mat-label>
    <input matInput type="number" [formControl]="amountCtrl" placeholder="0.00" />
    @if (amountCtrl.touched && amountCtrl.invalid) { @if(amountCtrl.hasError('min')){
    <mat-error>Amount must be greater than 0.</mat-error>
    }@else {
    <mat-error>Enter a valid amount</mat-error>
    } }
  </mat-form-field>

  <!-- Account -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Account</mat-label>
    <input matInput [formControl]="accountCtrl" placeholder="Enter payment mode e.g Cash" />
    @if (accountCtrl.touched && accountCtrl.invalid) {
    <mat-error>Account is required</mat-error>
    }
  </mat-form-field>
  

  <!-- note(Optioanal) -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Note</mat-label>
    <input matInput type="string" [formControl]="noteCtrl" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()">
    {{ mode === 'edit' ? 'Save' : 'Add' }}
  </button>
</mat-dialog-actions>
