
<div class="login-container ">
  <mat-card class="login-card">
    <mat-card-header class="text-center w-100">
      <h3 class="text-center mb-4 text-primary">
        <i class="fa fa-lock"></i>
        Login
      </h3>
    </mat-card-header>

    <mat-card-content>
      <!-- Login Form -->
      <form class="login-form" [formGroup]="loginForm">
        <!-- Username -->
         <mat-form-field appearance="outline" class="form-field">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            placeholder="Enter username"
            (blur)="handler.onBlur('username')"
          />

          @if ( handler.showErrors('username') && loginForm.get('username')?.hasError('username') &&
          !loginForm.get('username')?.hasError( 'required' ) ){
          <mat-error>Please Enter a valid user name  </mat-error>
          } @if ( handler.showErrors('username') && loginForm.get('username')?.hasError( 'required') ) {
          <mat-error>User name is <strong>required</strong> </mat-error>
          }
        </mat-form-field>

        <!-- Email (for now unused )
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Enter email"
            [errorStateMatcher]="emailErrorMatcher"
            (blur)="handler.onBlur('email')"
          />

          @if ( handler.showErrors('email') && loginForm.get('email')?.hasError('email') &&
          !loginForm.get('email')?.hasError( 'required' ) ){
          <mat-error>Please Enter a valid email address </mat-error>
          } @if ( handler.showErrors('email') && loginForm.get('email')?.hasError( 'required') ) {
          <mat-error>Email is <strong>required</strong> </mat-error>
          }
        </mat-form-field>
      -->

        <!-- Password -->
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Enter password"
            [errorStateMatcher]="emailErrorMatcher"
            (blur)="handler.onBlur('password')"
          />

          @if ( handler.showErrors('password') && loginForm.get('password')?.hasError('password') &&
          !loginForm.get('password')?.hasError( 'required' ) ){
          <mat-error>Please Enter a valid password! </mat-error>
          } @if ( handler.showErrors('password') && loginForm.get('password')?.hasError( 'required')
          ) {
          <mat-error>password is <strong>required</strong> </mat-error>
          }
        </mat-form-field>

        <button
          class="btn btn-primary w-100"
          type="submit"
          (click)="login()"
          [disabled]="loginForm.invalid"
        >
          Submit
        </button>

        <!-- Error message  -->
         @if( loginErrorSignal() ){
          <div >
            <mat-error> {{ loginErrorSignal()?.includes('400') ? 'Invalid username or password' : loginErrorSignal()}}</mat-error>
          </div>
         }
    
        <div class="text-center mt-3">
          <span>Don't have an account?</span>
          <a routerLink="/register" class="text-primary fw-semibold"> Register here. </a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
