
 
    <div class="header">
      <h1>Expenditure History</h1>
    </div>

    <mat-card class="filter-card">
      <form [formGroup]="filterForm" class="filter-form">

        <!-- Expense Type selector -->
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select [formControl]="typeCtrl">
            @for( option of expenseTypeOptions(); track option){
              <mat-option [value]="option">{{option}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

         <!-- Category Type selector -->
        <mat-form-field appearance="outline">
          <mat-label>Category</mat-label>
          <mat-select [formControl]="categoryCtrl">
            @for( cat of categoryOptions(); track cat){
              <mat-option [value]="cat">{{cat}}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input matInput type="date" [formControl]="fromDateCtrl" />
        </mat-form-field> -->

        <!-- From Date Datepicker -->
        <mat-form-field appearance="outline">
          <mat-label>From Date</mat-label>
          <input 
            matInput 
            [matDatepicker]="fromDatePicker"
            [formControl]="fromDateCtrl"
            placeholder="Select start date"
            (focus)="fromDatePicker.open()"
            readonly
          />
          <mat-datepicker-toggle matIconSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #fromDatePicker></mat-datepicker>
        </mat-form-field>


        <!-- <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input matInput type="date" [formControl]="toDateCtrl" />
        </mat-form-field> -->

        <!-- To Date Datepicker -->
        <mat-form-field appearance="outline">
          <mat-label>To Date</mat-label>
          <input 
            matInput 
            [matDatepicker]="toDatePicker"
            [formControl]="toDateCtrl"
            (focus)="toDatePicker.open()" 
            placeholder="Select end date"
            readonly
          />
          <mat-datepicker-toggle matIconSuffix [for]="toDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #toDatePicker></mat-datepicker>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="openAddDialog()">Add Expense</button>
        <button mat-flat-button color="warn" (click)="clearDateFilter()">Clear Date Filter</button>
        <!-- <span class="spacer"></span>
        <button mat-flat-button color="accent" (click)="openAddDialog()">Add Expense</button> -->
      </form>
    </mat-card>

    <mat-card>
      @if( filteredExpenses() && filteredExpenses().length > 0){
      <table
        mat-table
        [dataSource]="filteredExpenses()"
        class="mat-elevation-z2 full-width-table striped"
      >
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Expense Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.expenseType  }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="lastUpdatedAt">
          <th mat-header-cell *matHeaderCellDef>LastUpdatedAt</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.note }}</td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="openEditDialog(element)">Edit <mat-icon>edit</mat-icon></button>
            <button mat-button color="warn" (click)="deleteExpense(element)">
              Delete
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      }@else{
      <!-- No expeses -->
      <div class="no-expenses">
        <mat-icon color="accent">info</mat-icon>
        No expenses to show
      </div>
      }
    </mat-card>

    <!-- Export Button -->
    <div class="export-btn">
      @if( filteredExpenses() && filteredExpenses().length > 0) {
      <button mat-raised-button color="accent" (click)="exportTransactions()">
        Export Epenses
      </button>
      }
    </div>
