<mat-toolbar class="app-toolbar">
  <mat-icon matListItemIcon>data_exploration</mat-icon>
  <h2 class="title">EXPENSES TRACKING SYSTEM</h2>
  <span class="spacer"></span>
  <mat-icon matListItemIcon>person</mat-icon>
  <span class="user-info">
    {{ userName }} &nbsp;|&nbsp; {{ currentDate | date : 'dd MMM yyyy' }}
  </span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>
      <a mat-list-item><mat-icon matListIcon>dashboard</mat-icon> <span>Dashboard</span></a>
      <a mat-list-item (click)="openAddDialog()"
        ><mat-icon matListIcon>add_circle_outline</mat-icon> <span>Add Expense</span>
      </a>
      <!--
      <a mat-list-item>View Stock</a>
      <a mat-list-item>Add Transaction</a>
      <a mat-list-item class="active">Transactions</a>
      -->
      <a mat-list-item><mat-icon matListIcon>key</mat-icon> <span>Change Password</span></a>
      <a mat-list-item (click)="authService.isAuthenticatedSignal() && authService.logout()"><mat-icon matListIcon>logout</mat-icon> <span>{{ authLabel() }} </span></a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div class="header">
      <h1>Expenditure History</h1>
    </div>

    <mat-card class="filter-card">
      <form [formGroup]="filterForm" class="filter-form">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="ALL">All</mat-option>
            <mat-option value="IN">IN</mat-option>
            <mat-option value="OUT">OUT</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Item/ID</mat-label>
          <input matInput formControlName="itemId" placeholder="Enter item name or ID" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>From</mat-label>
          <input matInput type="date" formControlName="fromDate" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>To</mat-label>
          <input matInput type="date" formControlName="toDate" />
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="applyFilter()">Apply Date Filter</button>
        <button mat-flat-button color="warn" (click)="clearFilter()">Clear Date Filter</button>
      </form>
    </mat-card>

    <mat-card>
      @if( filteredExpenses() && filteredExpenses().length > 0){
      <table
        mat-table
        [dataSource]="filteredExpenses()"
        class="mat-elevation-z2 full-width-table striped"
      >
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>Expense Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.expenseType === 0 || element.expenseType === '0' ? 'Expense' : 'Income' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef>Category</th>
          <td mat-cell *matCellDef="let element">{{ element.category }}</td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
        </ng-container>

        <ng-container matColumnDef="lastUpdatedAt">
          <th mat-header-cell *matHeaderCellDef>LastUpdatedAt</th>
          <td mat-cell *matCellDef="let element">{{ element.date }}</td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element" class="text-right">{{ element.note }}</td>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="openEditDialog(element)">Edit <mat-icon>edit</mat-icon></button>
            <button mat-button color="warn" (click)="deleteExpense(element)">
              Delete
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      }@else{
      <!-- No expeses -->
      <div class="no-expenses">
        <mat-icon color="accent">info</mat-icon>
        No expenses to show
      </div>
      }
    </mat-card>

    <!-- Export Button -->
    <div class="export-btn">
      @if( filteredExpenses() && filteredExpenses().length > 0) {
      <button mat-raised-button color="accent" (click)="exportTransactions()">
        Export Epenses
      </button>
      }
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
