<mat-toolbar class="app-toolbar">
  <mat-icon matListItemIcon>data_exploration</mat-icon>
  <h2 class="title">EXPENSES TRACKING SYSTEM</h2>

  <span class="spacer"></span>

  <!-- User Info -->
  @if(authService.isAuthenticated()){
  <mat-icon matListItemIcon>person</mat-icon>
  <span class="user-info">
    {{ userName() }} &nbsp;|&nbsp; {{ currentDate | date : 'dd MMM yyyy' }}
  </span>
  }

</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-nav-list>

      <!-- Dashboaard -->
      <a mat-list-item routerLink="/dashboard">
        <mat-icon matListIcon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>

  
      <!--  expenses list -->
      <a mat-list-item routerLink="/home/expenses">
        <mat-icon matListIcon>payment</mat-icon>
        <span>Expenses</span>
      </a>
  
      <!-- Reports -->
      @if(authService.isAuthenticated()){
      <a mat-list-item routerLink="/home/report">
        <mat-icon matListIcon>analytics</mat-icon>
        <span>Report</span>
      </a>
      }
      


      <!-- Change Password -->
      @if(authService.isAuthenticated()){
      <a mat-list-item routerLink="/change-password">
        <mat-icon matListIcon>key</mat-icon>
        <span>Change Password</span>
      </a>

      }

      <!-- Login / Logout -->
      <a mat-list-item (click)="onAuthAction()">
        <mat-icon matListIcon>
          {{ authIcon() }}
        </mat-icon>
        <span>
          {{ authLabel() }}
        </span>
      </a>
    </mat-nav-list>

  </mat-sidenav>

  <!-- PAGE CONTENT WILL LOAD HERE -->
  <mat-sidenav-content class="content"> 
    @if(authService.isAuthenticated()){
      <router-outlet></router-outlet>
    }@else {
      <div>
        REPLACE THIS MESSAGE WITH A NICELY FORMATTED WELCOME LOGO
      </div>
    }
    
  </mat-sidenav-content>
</mat-sidenav-container>
